* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin: 30px auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #000;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}
.btn:focus{
    outline: none;
}
.btn:active{
    transform: scale(0.98);
}
.btn-block{
    display: block;
    width: 100%;
}
.task{
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;

}
.task.reminder{
    border-left: 5px solid green;
}
.task h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-form{
    margin: 20px 0;

}
.form-control label{
    display: block;
}
.form-control input{
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}
.form-control-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-control-check label{
    flex: 1;
}
.form-control-check input{
    flex: 2;
    height: 20px;
}
.footer{
    margin-top: 30px;
    text-align: center;
}
